body {
    background-color: lightblue;
    }

    h1 {
    color: white;
    font-size: 32px;
    text-align: center;
    }

    p {
    color: white;
    font-family: verdana;
    font-size: 18px;
    }
