<!--blog/home.html-->
<!DOCTYPE html>
<html>
<head>
    <title>Home | DH</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
    <h1>Hello, Django Tutorial</h1>

    {% for post in posts %}
      <ul>
        <li><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></li>
      </ul>
    {% endfor %}

</body>
</html>